<div class="ideal-issuers-form">
    <select name="paymentForm[ideal][issuerId]">
        {% for issuer in issuers %}
            <option value="{{ issuer.code }}">{{ issuer.description }}</option>
        {% endfor %}
    </select>
</div>
