{% extends "_layouts/cp" %}
{% set title = "MultiSafepay Settings" %}

{% set selectedSubnavItem = 'settings' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercesettings" %}

{% set navItems = {} %}

{% if currentUser.admin %}
    {% set navItems = {
        'settings-heading': { heading: "General" },
        'general-settings': { title: "Settings" },
        'order-status-settings': { title: "Order update settings" },
    } %}
{% endif %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(1) %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ actionUrl('multisafepay/settings/'~handle) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
